[submodule "repo-deps/meta-yocto"]
	path = repo-deps/meta-yocto
	url = git://git.yoctoproject.org/meta-yocto
	branch = fido
[submodule "repo-deps/bitbake"]
	path = repo-deps/bitbake
	url = git://git.openembedded.org/bitbake
	branch = 1.26
[submodule "repo-deps/openembedded-core"]
	path = repo-deps/openembedded-core
	url = git://git.openembedded.org/openembedded-core
	branch = fido
[submodule "repo-deps/meta-openembedded"]
	path = repo-deps/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = fido
[submodule "repo-deps/meta-fsl-arm"]
	path = repo-deps/meta-fsl-arm
	url = git://git.yoctoproject.org/meta-fsl-arm
	branch = fido
[submodule "repo-deps/meta-solidrun-arm-imx6"]
	path = repo-deps/meta-solidrun-arm-imx6
	url = git://github.com/SolidRun/meta-solidrun-arm-imx6.git
	branch = fido
